 <!-- Header -->
 <div class="page-heading contact-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>Contáctanos</h4>
                    <h2>Siempre cerca de tí</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Ubicanos -->
<div class="ubicanos">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="section-heading">
                    <h2>Nuestra ubicación</h2>
                </div>
            </div>
            <div class="col-md-9">
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.014669483384!2d-79.96668364909449!3d-2.14807019842652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d72f925e5bfdb%3A0x327cdb9f7f4ba3b2!2sEscuela%20Superior%20Politecnica%20del%20Litoral!5e0!3m2!1sen!2sec!4v1636073038108!5m2!1sen!2sec"
                        width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
            <div class="col-md-3">
                <div class="right-content">
                    <h4>Acerca de nosotros</h4>
                    <p>Somos una empresa que se dedica a la importación y distribución de baterías a nivel nacional.<br><br> Contamos
                        con amplia variedad de marcas de baterías, para todos las marcas y modelos para tu vehículo.
                    </p>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>

</div>
<!-- Ubicanos End -->

<div class="services">
    <div class="container">
            <div class="col-lg-8 col-md-8 col-12">
                <h2>Envianos un mensaje</h2>
            </div>
        </div>

</div>