<form >
        <div class="mb-3">
            <label for="nommbre-producto" class="form-label">NORMBRE</label>
            <input type="text" class="form-control" id="nommbre-producto" formControlName="name" placeholder="Ingrese el nombre del producto">
        </div>
        <div class="mb-3">
            <label for="descripcion-producto" class="form-label">DESCRICION</label>
            <textarea class="form-control" id="descripcion-producto" formControlName="description" rows="4"></textarea>
        </div>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" >
            <option selected disabled="disabled">Seleccione una marca</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="text" class="form-control" aria-label="0" formControlName="price">
            <span class="input-group-text">.00</span>
        </div>
        <div>
            <label for="file-image" class="form-label">FOTO</label>
            <input class="form-control form-control-lg" id="file-image" type="file" formControlName="image">
        </div>
        <div>
            <label></label>
            <input class="form-control form-control-lg btn btn-dark" id="file-image" type="submit">
        </div>
</form>
    
