<form  [formGroup]="registerProduct" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="nommbre-producto" class="form-label">NORMBRE</label>
            <input type="text" class="form-control" id="nommbre-producto" formControlName="nombre" placeholder="Ingrese el nombre del producto">
        </div>
        <div class="mb-3">
            <label for="descripcion-producto" class="form-label">DESCRICION</label>
            <textarea class="form-control" id="descripcion-producto" formControlName="detalle" rows="4"></textarea>
        </div>
        
        <select formControlName="id_marca" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" >
            <option selected disabled>Seleccione una marca</option>
            <option *ngFor="let marca of marcas"
                [ngValue]="marca.id_marca">{{ marca.nombre }}
            </option>
        </select>

        <div class="mb-3">
            <label for="stock" class="form-label">Stock</label>
            <textarea class="form-control" id="stock" formControlName="stock" rows="4"></textarea>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="text" class="form-control" aria-label="0" formControlName="precio">
            <span class="input-group-text">.00</span>
        </div>
        <div>
            <label for="file-image" class="form-label">FOTO</label>
            <input class="form-control form-control-lg" id="file-image" type="file" formControlName="src">
        </div>
        <div>
            <label></label>
            <input class="form-control form-control-lg btn btn-dark" id="file-image" type="submit">
        </div>
</form >
    
