<div class="marcas">
  <div class="container">
      <div class="section-header text-center">
          <h4>¿Conóces nuestras marcas?</h4>
          <h2>Te presentamos nuestros productos</h2>
      </div>
      <div class="row text-center">
          <div *ngFor="let o of marcas.valor" class="col-lg-4 col-md-6">
              <div class="marcas-item">
                  <img src="{{o.srcM}}" alt="">
                      <h3>{{o.h3M}}</h3>
                      <p>{{o.pM}}</p>
              </div>
          </div>
      </div>
  </div>
</div>
