<select [(ngModel)]="Seleccionado" (change)="onChange()" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" >
    <option selected disabled>Seleccione una marca</option>
    <option *ngFor="let marca of marcas"
        [ngValue]="marca.id_marca">{{ marca.nombre }}
    </option>
</select>

<table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id producto</th>
        <th scope="col">nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Detalle</th>
        <th scope="col">Stock</th>
        <th scope="col">Eliminar</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let producto of productos">
        <tr>
          <td>{{producto.id_producto}}</td>
          <td>{{producto.nombre}}</td> 
          <td>{{producto.precio}}</td>
          <td>{{producto.detalle}}</td>
          <td class="text-center align-middle">{{producto.stock}}</td>
          <td class="text-center align-middle"><button (click)="Delete(producto.id_producto)"><i class="bi bi-x-circle"></i></button></td>  
          <td class="text-center align-middle"><button (click)="openModal(contenido,producto.id_producto)" type="button" class="btn btn-primary"><i class="bi bi-arrow-repeat"></i></button></td>                  
        </tr>
      </ng-container>>
  </tbody>
</table>

<ng-template  #contenido let-modal>
        <div class="modal-header">
          <h5 class="modal-title" >Editar producto</h5>
          <button type="button" class="close" aria-label="close" (click)="modal.dismiss()">
            <span>X</span>
          </button>
        </div>
        <form [formGroup]="updateProduct" (ngSubmit)="Update()">
          <div class="modal-body">
              <div class="mb-3">
                  <label for="nommbre-producto" class="form-label">NORMBRE</label>
                  <input type="text" class="form-control" id="nommbre-producto" formControlName="nombre" placeholder="Ingrese el nombre del producto">
              </div>
              
              <div class="mb-3">
                  <label for="descripcion-producto" class="form-label">DESCRICION</label>
                  <textarea class="form-control" id="descripcion-producto" formControlName="detalle" rows="4"></textarea>
              </div>
      
              <div class="input-group mb-3">
                  <span class="input-group-text">Precio: $</span>
                  <input type="number" class="form-control" aria-label="0" formControlName="precio">
              </div>
              <div>
                  <label for="stock" class="form-label">Stock</label>
                  <input class="form-control form-control-lg" id="stock" type="number" formControlName="stock">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close()">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="Update()">Guardar</button>
          </div>
        </form>
</ng-template>