<div class="container-fluid">
    <div class="barra row justify-content-center align-item-center">
        <div class="col-10 logo ">
            <h4>Logo</h4>
        </div>
        <div class="col-2 text-end">
                <div class="dropdown"> 
                    <button class="botton btn  btn-dark  dropdown-toggle" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="user">
                            <i class="bi bi-person-circle"></i>
                        </span>
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li class="user-menu-option">
                            <a class="dropdown-item menuperfil cerrar" href="#">
                                <i>Salir</i>
                            </a>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
</div>
