<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row ">
        <div class="col col-xl-10">
          <div class="card" >
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img
                  src="/assets/img/inic.jpg"class="img-fluid" 
                />
              </div>
              <div class="col-md-6 col-lg-7 text">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      
                      <h1>Batetizate</h1>
                      <img
                        src="/assets/img/inicioL.png" class="img-logo"
                      />
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3">Sign into your account</h5>
  
                    <div class="form-outline mb-4">
                      <label class="form-label" for="correo" >Usuario o correo</label>
                      <input type="email"
                        formControlName ="correo"
                       id="correo" class="form-control form-control-lg" />
                      
                    </div>
  
                    <div class="form-outline mb-4">
                      <label class="form-label" for="password" >Contraseña</label>
                      <input type="password"formControlName ="password"id="password" class="form-control form-control-lg" />
                      
                    </div>
  
                    <div class="mb-4  boton">
                      <button  [disabled]="loginForm.invalid" class="btn-outline-primary" type="submit">Iniciar Sesion</button>
                    </div>

                    <p class="mb-5 pb-lg-2">No tiene cuenta? <a href="#!" id="link" >Register here</a></p>
                    <a href="#!" class="small text-muted">Terms of use</a>
                    <a href="#!" class="small text-muted">  Privacy policy</a>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>