<div class="mb-3">
    <label for="nommbre-marca" class="form-label">CORREO</label>
    <input type="email" class="form-control" id="nommbre-marca" placeholder="jbpita@espol.edu.ec">
</div>
<div class="mb-3">
    <label for="descripcion-marca" class="form-label">CONTRASEÑA</label>
    <input type="password" class="form-control" id="nommbre-marca" placeholder="*********">
</div>
<div>
    <label></label>
    <input class="form-control form-control-lg btn btn-dark" id="file-image" type="submit" value="GUARDAR">
</div>