i{
    margin-right: 1rem;
} 
a{
    display: block;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgb(255,255,255,.1);
    color: #f1f1f1;
    text-decoration: none;
}
a:hover{
    background-color: #262a34;

}

@media screen and (max-width:768px){
    
    a span{
        display: none;
    }
    a {
        border-bottom: none;
    }
    a i{
        min-width: auto;
        margin: 0;
    }
}