.about {
  position: relative;
  width: 100%;
  padding: 45px 0 15px 0;
}

.about .section-header {
  margin-bottom: 30px;
  margin-left: 0;
}

.about .section-header h2 {
  color: #212529;
}

.about .about-img img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 30px;
}

.about .about-content {
  margin-bottom: 30px;
}

.about .about-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 25px;
}

.about .about-content ul li {
  margin-bottom: 5px;
}

.about .about-content ul li i {
  margin-right: 8px;
  color: #E81C2E;
}
/*******************************/
/********* Marcas CSS *********/
/*******************************/

.marcas {
  background-color: #212529;
}

.marcas .container .row {
  color: #dddddd;
}

.button {
  position: relative;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  width: 200px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #727171;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

div.car-banner>img {
  width: 23%
}
