<div class="about">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6">
              <div class="about-img">
                  <img src="./assets/img/about.jpg" alt="Image" />
              </div>
          </div>
          <div class="col-lg-6">
              <div class="section-header text-left">
                  <p>SERVICIO PERSONALIZADO</p>
                  <hr size=3>
                  <h2>Asesoramiento personalizado para cada cliente y vehículo</h2>
              </div>
              <div class="about-content">
                  <ul>
                      <li><i class="far fa-check-circle"></i>Te ayudamos a elegir la mejor batería para tu vehículo.
                      </li>
                      <li><i class="far fa-check-circle"></i>Analizamos digitalmente el sistema eléctrico de tu vehículo
                      </li>
                      <li>
                          <i class="far fa-check-circle"></i>Interior wet cleaning
                      </li>
                      <li><i class="far fa-check-circle"></i>Enviamos un técnico donde te encuentres</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
