<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img class="d-block w-100" src="https://img.interempresas.net/fotos/2134642.jpeg" alt="First slide">
        <div class="carousel-text">
            <h3>Sevicio Express</h3>
            <h1>Tu bateria en donde estes</h1>
            <p>
                Elige tu marca favorita, envianós tu información y dejanós el resto a nosotros
            </p>
            <a class="btn btn-custom" href="service.html">Ver más</a>
        </div>
    </div>
    <div class="carousel-item ">
        <img class="d-block w-100" src="https://cdn-3.expansion.mx/5a/17/19010fbd407890b262a60f3dfe28/2017-11-17t000000z-125783463-rc18820235a0-rtrmadp-3-batteries-recycling-1.jpg" alt="Second slide">
        <div class="carousel-text">
            <h3>Baterias de la mejor calidad</h3>
            <h1>Las mejores marcas del mercado</h1>
            <p>
                Contamos con productos nacionales e internacionales a la orden del cliente
            </p>
            <a class="btn btn-custom" href="service.html">Ver más</a>
        </div>
    </div>
    <div class="carousel-item">
        <img class="d-block w-100" src="https://www.diariomotor.com/tecmovia/imagenes/2016/04/Bater%C3%ADa-080313-00.jpg" alt="Third slide">
        <div class="carousel-text">
            <h3>Bateria a buen precio</h3>
            <h1>Precios de importación</h1>
            <p>
                Solo elige la que mejor se ajuste a tu necesidad
            </p>
            <a class="btn btn-custom" href="promociones.html">Ver más</a>
        </div>
    </div>
</div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
