<div class="row ">
   <div class="col col-lg-6 align-items-center">
      <google-chart #chart class=" contenedor"
         [title]="title"
         [type]="myType"
         [data]="data"
         [columnNames]="columnNames"
         [options]="options"
         [width]="width"
         [height]="height">
      </google-chart>
   </div>
   <div class="col col-lg-6 align-items-center">   
      <google-chart #chart class=" contenedor"
         [title]="title2"
         [type]="myType2"
         [data]="data2"
         [columnNames]="columnNames2"
         [options]="options2"
         [width]="width2"
         [height]="height2">
      </google-chart>
   </div>
</div>
