<div class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6">
                <div class="footer-logo">
                    <img src="./assets/img/logoBaterizate.png">
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-link">
                    <h2>Mas información</h2>
                    <p>
                        <i class="fa fa-map-marker-alt"></i>Duran - Cdl. Los Helechos, Mzn 5, V20.
                    </p>
                    <p><i class="fa fa-phone-alt"></i>+593 99 421 8045</p>
                    <p><i class="fa fa-envelope"></i>baterizate2021@gmail.com</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-social">
                    <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                    <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container copyright">
        <p>
            &copy; <a href="#">Baterizate</a>, All Right Reserved. Designed By
            <a href="https://htmlcodex.com">HTML Codex</a>
        </p>
    </div>
</div>