<div class="barra-lateral justify-content-flex-start col-12 col-md-auto">
    <nav class="menu d-flex d-md-block justify-content-center flex-wrap">
        <a href="#formproducto" class="option-admi  btn btn-dark text-start" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="formproducto" id="opt-1">
            <i class="bi bi-plus-square"></i>
            <span>Registrar Producto</span>
        </a>
        <a href="#formmarca" class="option-admi  btn btn-dark text-start" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="formmarca"  id="opt-2">
            <i class="bi bi-plus-square"></i>
            <span>Registrar Marca</span>
        </a>
        <a href="#stadistic" class="option-admi  btn btn-dark text-start" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="stadistic" id="opt-3">
            <i class="bi bi-bar-chart-line"></i>
            <span>Estadistica</span>
        </a>
        <a href="" class="option-admi  btn btn-dark text-start" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="user" id="opt-4">
            <i class="bi bi-person"></i>
            <span>Usario</span>
        </a>
        <a href="" class="option-admi  btn btn-dark text-start" data-bs-toggle="collapse" role="button" aria-expanded="false" id="opt-5">
            <i class="bi bi-chat-left-text"></i>
            <span>Mensajes</span>
        </a>
    </nav>
</div>
