<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="down-content">
                        <h4>Trabajo en Equipo</h4>
                        <p>
                            Puedes diseñar y crear, y construir el lugar más maravilloso del mundo, pero se necesita gente para hacer el sueño realidad </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-check"> </i>
                    </div>
                    <div class="down-content">
                        <h4>Compromiso</h4>
                        <p>
                            Seamos parte vital de la organización, entregando el mayor esfuerzo al trabajo en equipo y a la satisfacción al cliente. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                    </div>
                    <div class="down-content">
                        <h4>Comunicación</h4>
                        <p>
                            Tratemos a los demás como nos gustaría que nos traten a nosotros.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>