<div class="tm-paging-links text-center">
    <nav id="navproductos" class="container">
        <ul class="row" >
            <li class="tm-paging-item col-12">
                <a class="tm-paging-link active" (click)="presentar($event,0)">Todos los Productos</a>
            </li>
            <ng-container *ngFor="let marca of marcas">
                <li class="tm-paging-item col-4" >
                    <a class="tm-paging-link" (click)="presentar($event,marca.id_marca)">{{marca.nombre}}</a>
                </li>
            </ng-container>
            
        </ul>
    </nav>
    
</div>