<div class="mb-3">
    <label for="nommbre-marca" class="form-label">NORMBRE</label>
    <input type="text" class="form-control" id="nommbre-marca" placeholder="Ingrese el nombre del producto">
</div>
<div class="mb-3">
    <label for="descripcion-marca" class="form-label">DESCRICION</label>
    <textarea class="form-control" id="descripcion-marca" rows="4"></textarea>
</div>

<div>
    <label for="file-image" class="form-label">FOTO</label>
    <input class="form-control form-control-lg" id="file-image" type="file">
</div>
<div>
    <label></label>
    <input class="form-control form-control-lg btn btn-dark" id="file-image" type="submit">
</div>