/* You can add global styles to this file, and also import other style files */
body {
  color: #444444;
  font-weight: 400;
  background: #ffffff;
  font-family: 'Barlow', sans-serif;
}


img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  padding: 0 0 0 0;
  color: #eeeeee;
}
h1,h2,h3,h4,h5,h6 {
    color: #d7dadf;
}

a {
    color: #212529;
    transition: .3s;
}
