<div class="team">
  <div class="container">
      <div class="section-header text-center">
          <h2>Conoce nuestro equipo</h2>
      </div>
      <div class="row align-items-center">
          <div class="col-lg-3 col-md-6">
              <div class="team-item">
                  <div class="team-img">
                      <img src="./assets/img/team-1.jpg" alt="Team Image" />
                  </div>
                  <div class="team-text">
                      <h2>Jean Moreano</h2>
                      <p>Ingeniero</p>
                      <div class="team-social">
                          <a href="https://www.facebook.com/jeanca.moreano"><i class="fab fa-facebook-f"></i></a>
                          <a href=""><i class="fab fa-linkedin-in"></i></a>
                          <a href="https://instagram.com/jeancamoreano1?utm_medium=copy_link"><i
                                  class="fab fa-instagram"></i></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="team-item">
                  <div class="team-img">
                      <img src="./assets/img/team-2.jpg" alt="Team Image" width="40" />
                  </div>
                  <div class="team-text">
                      <h2>Tatiana Yépez</h2>
                      <p>Ingeniera</p>
                      <div class="team-social">
                          <a href="https://www.facebook.com/tati.yepez.vera"><i class="fab fa-facebook-f"></i></a>
                          <a href=""><i class="fab fa-linkedin-in"></i></a>
                          <a href="https://instagram.com/tatiyepez18?utm_medium=copy_link"><i
                                  class="fab fa-instagram"></i></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="team-item">
                  <div class="team-img">
                      <img src="./assets/img/team-3.jpeg" alt="Team Image" />
                  </div>
                  <div class="team-text">
                      <h2>Adriel Robles</h2>
                      <p>Ingeniero</p>
                      <div class="team-social">
                          <a href="https://www.facebook.com/adriel.robles.16"><i
                                  class="fab fa-facebook-f"></i></a>
                          <a href=""><i class="fab fa-linkedin-in"></i></a>
                          <a href="https://instagram.com/adrielrobles85?utm_medium=copy_link"><i
                                  class="fab fa-instagram"></i></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="team-item">
                  <div class="team-img">
                      <img src="./assets/img/team-4.jpg" alt="Team Image" />
                  </div>
                  <div class="team-text">
                      <h2>Jorge Pita</h2>
                      <p>Ingeniero</p>
                      <div class="team-social">
                          <a href="https://www.facebook.com/jorge.pitaestrella"><i
                                  class="fab fa-facebook-f"></i></a>
                          <a href=""><i class="fab fa-linkedin-in"></i></a>
                          <a href="https://instagram.com/jorge.pitaestrella?utm_medium=copy_link"><i
                                  class="fab fa-instagram"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
